.hey{
    color: rgb(81, 255, 0);
}
.but1{
    
    
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: #3498db;
    font-size: 14px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
}
.but2{
    padding: 34px;
    position: absolute;
    margin-left: 167px;
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);


}